
.etusivu1 {
  margin: 10px;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-s;
  max-width: fit-content;
}

.main {
  width: 50%;
  margin: 50px;
}

.navbar1 {
  margin: 30x auto;
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  margin-top: 50px;
}
.left-column, .right-column {
  flex-basis: 50%;
  flex-flow: flow;
}

.etusivutext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #000;
}
.right-column {
  flex-basis: 10%;
  padding-left: 100px;
}
.right-column img {
  height: 700px;
  width: auto;
  margin-right: 20%;
}

.btn button {
  padding: 7px 30px;
  margin-right: 15px;
  outline: none;
  border: 1px solid #FDD017;
  border-radius: 20px;
  cursor: pointer;
  color: #FDD017;
  background: transparent;
}

.btn .primary-btn {
  background: linear-gradient(#FDD017, #fccb05);
  box-shadow: 0 2px 15px yellow(248, 38, 103, 0.26);
  text-decoration: none;
}

.etusivuot {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.etusivuots {
  padding: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #77A8E8;
}

h1 {
color: #FDD017;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size: 2cm;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textkeskitetty {
    text-align: center;
}
table {
	border-collapse: seperate;
	border-spacing: 15px;
	width: 100%;
}
div {
	margin-bottom: 10px;
}
div span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
} 
span {
	margin: 10px;
}
.reseptikaks {
	color: #FDD017;
}
.reseptiyks {
	color: #FC6C85;
}
.reseptikolme {
    color: #24CA3A
}
h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ingressi {
	font-size: 20px;
	line-height: 1.4;
	text-align: justify;
}
select {
    padding-left: 50px;
    size: 50px;
}
.marginaalit {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.navbar {
  background-color: #FDD017;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  }
  
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
.navbar li {
  float: left;
}
  
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.navbar li a:hover {
  background-color: #77A8E8;
}
 